---
---

body {
  font-size: 120%;
  font-family: 'Calendas Plus';
  line-height: 1.7;
  text-align: justify;
}

.main {
  max-width: 700px;
  margin: 50px auto 50px;
}

/* Header styling */

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

/* Image styling */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Code styling */

code, pre {
  font-family: 'Source Code Pro Light', monospace;
  background-color: white;
  font-size: 90%;
}

pre {
  padding: 1.2em;
}

/* Hyperlink styling */

a:link {
  color: #268bd2;;
  text-decoration: none;
}

a:visited {
  color: #268bd2;;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 25px auto 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
}

table, td, th {
  border: 1px solid black;
  padding: 10px;
}
