<footer>
    <hr>
<div style="background: #fafafa" id="mc_embed_signup">
  <form action="https://vegardstikbakke.us20.list-manage.com/subscribe/post?u=8cd07ffc22c8ec35f8a0a35e9&amp;id=7ef632232b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div style="position: absolute; left: -5000px; background: #fafafa;" aria-hidden="true"><input type="text" name="b_e200d69fa3b8b310e009b2ada_aa42caf979" tabindex="-1" value=""></div>
    <h3>Want to get blog posts over email?</h3>
    <p>Enter your email address and get an email when there is a new article!<br/>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
      <input style="color: #0074D9; background: #fff; border: 1px solid #ABB0B2" type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button"/>
    </p>
  </form>
</div>
</footer>